@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
  font-family: "Maven Pro", sans-serif;
}
